.teamContainer {
  // display: flex;

}

.sliderContainer {
  margin-top: 6rem;
  margin-right: 5rem;
  margin-left: -5rem;
}

@media only screen and (max-width: 600px) {
  .sliderContainer {
    margin-top: -4rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}